<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
    <link rel="stylesheet" type="text/css" href="../static/scm.css">
</head>
<body class="space-background-gradient outer-body">
    <h1>Game {{game_id}}: Game Management</h1>
    <div class="game-display-container">
        <div class="game-left-box">
            <div class="game-notify-box"></div>
            <div class="game-action-box">
                <div>
                    <form action="/game/{{game_id}}/add_npc" method="post">
                        <label for="npc_name">NPC Name: </label><input type="text" id="char_name" name="char_name" required>
                        <select id="npc_metatype" name="metatype">
                            <option value="Human">Human</option>
                            <option value="Troll">Troll</option>
                            <option value="Dwarf">Dwarf</option>
                            <option value="Orc">Orc</option>
                            <option value="Elf">Elf</option>
                        </select>
                        <input type="hidden" id="is_npc" name="is_npc" value="true">
                        <input type="submit" id="add_npc" name="add_npc" value="Add NPC">
                    </form>
                </div>
                <div>
                <input type="button" id="start_combat" name="start_combat" value="Start Fightin'">
                </div>
            </div>
        </div>
        <div class="game-right-box">
            PCs:
            <ul>
                {{#each pcs}}
                <li><input type="checkbox" name="{{char_name}}" id="{{char_id}}"><label for="{{char_id}}">{{char_name}}</label></li>
                {{/each}}
            </ul>
            NPCs:
            <ul>{{#each npcs}}
                <li><input type="checkbox" name="{{char_name}}" id="{{char_id}}"><label for="{{char_id}}">{{char_name}}</label></li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>