<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
    <link rel="stylesheet" href="/res/scm.css">
</head>
<body>
    <h1>Game {{game_id}}: Game Management</h1>
    <div class="game-display-container">
        <div class="game-left-box">
            <div class="game-notify-box"></div>
            <div class="game-action-box">
                <input type="button" id="add_npc" name="add_npc"><label for="add_npc">Add NPC</label>
                <input type="button" id="start_combat" name="start_combat"><label for="start_combat">Start Fightin'</label>
            </div>
        </div>
        <div class="game-right-box">
            PCs:
            <ul>
                {{#each pcs}}
                <li><input type="checkbox" name="{{char_name}}" id="{{char_id}}"><label for="{{char_id}}">{{char_name}}</label></li>
                {{/each}}
            </ul>
            NPCs:
            <ul>{{#each npcs}}
                <li><input type="checkbox" name="{{char_name}}" id="{{char_id}}"><label for="{{char_id}}">{{char_name}}</label></li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>