<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
    <link href="/res/static/scm.css">
</head>
<body>
    <div class="game-display-container">
        <div class="game-left-box">
            <div class="game-notify-box"></div>
            <div class="game-action-box">
                {{#if no_character}}
                You have not yet added a character to this game.  Please do so now:
                <form action="/game/{{game_id}}/add_pc" method="post">
                        <label for="pc_name">PC Name: </label><input type="text" id="char_name" name="char_name" required>
                        <select id="pc_metatype" name="metatype">
                            <option value="Human">Human</option>
                            <option value="Troll">Troll</option>
                            <option value="Dwarf">Dwarf</option>
                            <option value="Orc">Orc</option>
                            <option value="Elf">Elf</option>
                        </select>
                        <input type="hidden" id="is_npc" name="is_npc" value="false">
                        <input type="submit" id="add_pc" name="add_pc" value="Add PC">
                </form>
                {{else}}
                <p>Welcome, {{player_handle}}.  Your character is: </p>
                {{name}}, {{metatype}}
                {{/if}}
            </div>
        </div>
        <div class="game-right-box"></div>
</body>